<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Cars</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:insert="fragments/header :: defaultheader"></div>

<form th:object="${cars}" action="/cars/add" method="post">
  <p>Название
    <input th:field="*{name}" type="text"  id="name" name="name" placeholder="Название"><br>
  <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
  </p>
  <p>Дата
    <input th:field="*{date}" id="date"  name="date" placeholder="Дата"><br>
  <div th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></div>
  </p>
  <p>Количество
    <input th:field="*{kolichestvo}" type="number"  id="kolichestvo" name="kolichestvo" placeholder="Количество"><br>
  <div th:if="${#fields.hasErrors('kolichestvo')}" th:errors="*{kolichestvo}"></div>
  </p>
  <p>Цена
    <input th:field="*{cena}" type="number"  id="cena" name="cena" placeholder="Цена"><br>
  <div th:if="${#fields.hasErrors('cena')}" th:errors="*{cena}"></div>
  </p>
  <p>Кол-во лошадиных сил
    <input th:field="*{moshnost}" type="number"  id="moshnost" name="moshnost" placeholder="Кол-во лошадиных сил"><br>
  <div th:if="${#fields.hasErrors('moshnost')}" th:errors="*{moshnost}"></div>
  </p>
  <input type="submit" value="Добавить машину" class="btn btn-success"><br>
</form><br>

<a href="/cars/" class="btn btn-primary">Назад</a>

</body>
</html>