<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cars</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:insert="fragments/header :: defaultheader"></div>

<div align="center" th:each="el : ${cars}">
    <h2 th:text="${el.name}"></h2>
    <h3 th:text="${el.date}"></h3>
    <p th:text="${el.kolichestvo}"></p>
    <p th:text="${el.cena}"></p>
    <p th:text="${el.moshnost}"></p>
    <a th:href="'/cars/del/' + ${el.id}" class="btn btn-danger">Удалить</a>
    <a th:href="'/cars/edit/' + ${el.id}" class="btn btn-warning">Изменить</a><br>
    <a href="/cars/" class="btn btn-primary">Назад к машинам</a>
</div>
</body>
</html>