<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Games</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:insert="fragments/header :: defaultheader"></div>


<form method="get" action="/games/search">
    <input type="text" name="name" id="name">
    <input type="submit" value="Найти">
</form>

<div style="display: inline-block" th:each="el : ${games}">
    <p>Название</p>
    <h2 th:text="${el.name}"></h2>
    <p>Дата</p>
    <h3 th:text="${el.date}"></h3>
    <p>Жанр</p>
    <h3 th:text="${el.jenre}"></h3>
    <p>Цена</p>
    <h3 th:text="${el.cena}"></h3>
    <p>Копии</p>
    <h3 th:text="${el.prodajKopii}"></h3>
    <a th:href="'/games/' + ${el.id}">Открыть</a>
</div>

<a href="/games/add" class="btn btn-primary">Добавить игру</a>

</body>
</html>