<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Games</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:insert="fragments/header :: defaultheader"></div>


<div align="center" th:each="el : ${games}">
    <h2 th:text="${el.name}"></h2>
    <h3 th:text="${el.date}"></h3>
    <h3 th:text="${el.jenre}"></h3>
    <h3 th:text="${el.cena}"></h3>
    <h3 th:text="${el.prodajKopii}"></h3>
    <a th:href="'/games/del/' + ${el.id}" class="btn btn-danger">Удалить</a>
    <a th:href="'/games/edit/' + ${el.id}" class="btn btn-warning">Изменить</a><br>
    <a href="/games/" class="btn btn-primary">Назад к играм</a>
</div>
</body>
</html>